a{
    text-decoration: none;
}

.banner{
    background-color: rgb(93, 128, 93);
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    height:70px;
    color:white;
    overflow: hidden;
}


.Lbanner{
    height:100%;
    width:25%;
    display: flex;
    align-items: center;
    margin-left:40px;
    font-size: 23px;
}

.Rbanner{
    height:100%;
    width:75%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right:15px;
    font-size: 18px;
}

.Rbanner a:hover{
    color:rgb(27, 48, 27);
}

.Rbanner a menu:hover{
    color:rgb(27, 48, 27);
}

.Rbanner a{
    height: 100%;
    padding: 0 20px 0 20px;
    display: flex;
    color: white;
    align-items: center;
    margin-right: 20px;
}

.contact{
    padding: 70px;
    background-color:  rgb(144, 174, 144);
    color: white;
    font-size: 20px;
    text-align: center;
}

.content{
    display:flex;
    flex-direction: row;
    height: 300px;
    margin-top: 60px;
}

.Lcontent{
    display: flex;
    width:50%;
    flex-direction: column;
    align-items:end;
       
}

.input-container {
    display: flex;
    width: 54%; /* Adjust width as needed */
    max-width: 400px; /* Prevents excessive stretching */
    flex-direction: column;
    margin-right: 40px;
}

.input-container input {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(93, 128, 93);
    outline: none;
    padding: 5px 0;
    font-size: 16px;
    justify-content: center;
    color: rgb(93, 128, 93) ;
    margin-top: 20px;
}

.input-container input:focus {
    border-bottom: 1.8px solid rgb(144, 174, 144); /* Highlight when focused */
}

.input-container input::placeholder {
    color:  rgb(93, 128, 93);
    opacity: 1;
}

.input-container button {
    width: 27%;
    height:35px;
    background-color: rgb(255, 255, 255);
    color:rgb(93, 128, 93) ;
    border:2px solid rgb(93, 128, 93);
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 2px;
    overflow: hidden;
    margin-top:20px;
}

.input-container button:hover{
    background-color: rgb(144, 174, 144);
    color: white;
    border:2px solid rgb(144, 174, 144);
    transition: background-color 0.4s;
}


.Rcontent{
    display:flex;
    justify-content:flex-start;
    width:50%;
    flex-direction: column;
    gap:55px;
    margin-left: 40px;
}

.message input{
    display:flex;
    justify-content: center;
    width:54%;
    height:160px;
    border: 1px solid  rgb(93, 128, 93);
    position: relative;
    border-radius: 2px;
}

.message input::placeholder {
    color:  rgb(93, 128, 93);
    opacity: 1;
    text-align:center;
    padding-top: 1px;
}



/* .icon{
    display:flex;
    justify-content: center;
} */


.end{
    display: flex;
    flex-direction: column;
    background-color: rgb(93, 128, 93);
    height: 90px;
    gap: 3px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.end p{
    flex: 1;
    display: flex;
    justify-content: center;
    margin:0;
    color: white;
}

/* Media Query for responsiveness */
@media (max-width: 768px) {
    .input-container {
        display: flex;
        width: 54%; /* Adjust width as needed */
        max-width: 400px; /* Prevents excessive stretching */
        flex-direction: column;
        gap: 25px; /* Adjusts spacing between inputs */
        margin-right: 20px;
    }
    
    .input-container input {
        width: 100%;
        border: none;
        border-bottom: 1px solid rgb(93, 128, 93);
        outline: none;
        padding: 5px 0;
        font-size: 14px;
        justify-content: center;
        color: rgb(93, 128, 93) ;
    }
    
    .input-container input:focus {
        border-bottom: 1.8px solid rgb(144, 174, 144); /* Highlight when focused */
    }
    
    .input-container input::placeholder {
        color:  rgb(93, 128, 93);
        opacity: 1;
    }
    
    .input-container button {
        width: 27%;
        height:35px;
        background-color: rgb(255, 255, 255);
        color:rgb(93, 128, 93) ;
        border:2px solid rgb(93, 128, 93);
        font-size: 10px;
        cursor: pointer;
        transition: background-color 0.3s;
        border-radius: 2px;
        overflow: hidden;
        
    }

    .Rcontent{
        display:flex;
        justify-content:flex-start;
        width:50%;
        flex-direction: column;
        gap:55px;
        margin-left: 20px;
    }
    
    .message input{
        display:flex;
        justify-content: center;
        width:54%;
        height:130px;
        border: 1px solid  rgb(93, 128, 93);
        position: relative;
        border-radius: 2px;
    }

    .message input::placeholder {
        color:  rgb(93, 128, 93);
        opacity: 1;
        text-align:center;
        padding-top: 1px;
        font-size: 12px;;
    }

    .Lbanner{
        height:100%;
        width:25%;
        display: flex;
        align-items: center;
        margin-left:40px;
        font-size: 20px;
    }
    
    .Rbanner{
        height:100%;
        width:75%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right:15px;
        font-size: 15px;
    }
    
    .Rbanner a:hover{
        color:rgb(27, 48, 27);
    }
    
    .Rbanner a menu:hover{
        color:rgb(27, 48, 27);
    }
    
    .Rbanner a{
        height: 100%;
        padding: 0 20px 0 20px;
        display: flex;
        color: white;
        align-items: center;
    }

    .end p{
        flex: 1;
        display: flex;
        justify-content: center;
        margin:0;
        color: white;
        font-size: 15px;
    }
    

}

@media (max-width: 624px) {
    .contact{
        padding: 70px;
        background-color:  rgb(144, 174, 144);
        color: white;
        font-size: 18px;
        text-align: center;
    }

    .input-container {
        display: flex;
        width: 70%; /* Adjust width as needed */
        max-width: 400px; /* Prevents excessive stretching */
        flex-direction: column;
        gap: 25px; /* Adjusts spacing between inputs */
        margin-right: 17px;
    }
    
    .input-container input {
        width: 100%;
        border: none;
        border-bottom: 1px solid rgb(93, 128, 93);
        outline: none;
        padding: 5px 0;
        font-size: 12px;
        justify-content: center;
        color: rgb(93, 128, 93) ;
    }
    
    .input-container input:focus {
        border-bottom: 1.8px solid rgb(144, 174, 144); /* Highlight when focused */
    }
    
    .input-container input::placeholder {
        color:  rgb(93, 128, 93);
        opacity: 1;
    }
    
    .input-container button {
        width: 50%;
        height:30px;
        background-color: rgb(255, 255, 255);
        color:rgb(93, 128, 93) ;
        border:2px solid rgb(93, 128, 93);
        font-size: 10px;
        cursor: pointer;
        transition: background-color 0.3s;
        border-radius: 2px;
        overflow: hidden;
    
    }

    .Rcontent{
        display:flex;
        justify-content:flex-start;
        width:50%;
        flex-direction: column;
        gap:55px;
        margin-left: 17px;
    }
    
    .message input{
        display:flex;
        justify-content: center;
        width:70%;
        height:130px;
        border: 1px solid  rgb(93, 128, 93);
        position: relative;
        border-radius: 2px;
    }

    .message input::placeholder {
        color:  rgb(93, 128, 93);
        opacity: 1;
        text-align:center;
        padding-top: 1px;
        font-size: 11px;;
    }

    .Lbanner{
        height:100%;
        width:25%;
        display: flex;
        align-items: center;
        margin-left:40px;
        font-size: 15px;
    }
    
    .Rbanner{
        height:100%;
        width:75%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right:15px;
        font-size: 12px;
    }
    
    .Rbanner a:hover{
        color:rgb(27, 48, 27);
    }
    
    .Rbanner a menu:hover{
        color:rgb(27, 48, 27);
    }
    
    .Rbanner a{
        height: 100%;
        padding: 0 10px 0 10px;
        display: flex;
        color: white;
        align-items: center;
    }

    .end{
        display: flex;
        flex-direction: column;
        background-color: rgb(93, 128, 93);
        height: 70px;
        gap: 3px;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    
    .end p{
        flex: 1;
        display: flex;
        justify-content: center;
        margin:0;
        color: white;
        font-size: 13px;
    }


}

@media (max-width: 480px) {
    .Lbanner{
        height:100%;
        width:25%;
        display: flex;
        align-items: center;
        margin-left:40px;
        font-size: 10px;
    }
    
    .Rbanner{
        height:100%;
        width:75%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right:15px;
        font-size: 10px;
    }
    
    .Rbanner a:hover{
        color:rgb(27, 48, 27);
    }
    
    .Rbanner a menu:hover{
        color:rgb(27, 48, 27);
    }
    
    .Rbanner a{
        height: 100%;
        padding: 0 10px 0 10px;
        display: flex;
        color: white;
        align-items: center;
    }
    

}