a{
    text-decoration: none;
}

.banner{
    background-color: rgb(93, 128, 93);
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    height:70px;
    color:white;
    overflow: hidden;
}


.Lbanner{
    height:100%;
    width:25%;
    display: flex;
    align-items: center;
    margin-left:40px;
    font-size: 23px;
}

.Rbanner{
    height:100%;
    width:75%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right:15px;
    font-size: 18px;
}

.Rbanner a:hover{
    color:rgb(27, 48, 27);
}

.Rbanner a menu:hover{
    color:rgb(27, 48, 27);
}

.Rbanner a{
    height: 100%;
    padding: 0 20px 0 20px;
    display: flex;
    color: white;
    align-items: center;
    margin-right: 20px;
}

.Rbanner a{
    height: 100%;
    padding: 0 20px 0 20px;
    display: flex;
    color: white;
    align-items: center;
}

p{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
    margin-bottom: 130px;
    align-items: center;
    text-align: center;
    color:  rgb(93, 128, 93);
}

.intro{
    padding: 50px 70px 50px 70px ;
    border: 1.5px solid  rgb(93, 128, 93);
    border-radius: 6px;
}

.end{
    display: flex;
    flex-direction: column;
    background-color: rgb(93, 128, 93);
    height: 90px;
    gap: 3px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.end p{
    flex: 1;
    display: flex;
    justify-content: center;
    margin:0;
    color: white;
}

@media (max-width: 768px) {

    .Lbanner{
        height:100%;
        width:25%;
        display: flex;
        align-items: center;
        margin-left:40px;
        font-size: 20px;
    }
    
    .Rbanner{
        height:100%;
        width:75%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right:15px;
        font-size: 15px;
    }
    
    .Rbanner a:hover{
        color:rgb(27, 48, 27);
    }
    
    .Rbanner a menu:hover{
        color:rgb(27, 48, 27);
    }
    
    .Rbanner a{
        height: 100%;
        padding: 0 20px 0 20px;
        display: flex;
        color: white;
        align-items: center;
    }

    p{
        margin-left: 80px;
        margin-right: 80px;
        margin-top: 80px;
        margin-bottom: 100px;
        align-items: center;
        text-align: center;
        color:  rgb(93, 128, 93);
        font-size: 15px;
    }
    
    .intro{
        padding: 40px 60px 40px 60px ;
        border: 1.5px solid  rgb(93, 128, 93);
        border-radius: 6px;
    }

    
    .end p{
        flex: 1;
        display: flex;
        justify-content: center;
        margin:0;
        color: white;
        font-size: 15px;
    }
    
    

}

@media (max-width: 624px) {
    .Lbanner{
        height:100%;
        width:25%;
        display: flex;
        align-items: center;
        margin-left:40px;
        font-size: 15px;
    }
    
    .Rbanner{
        height:100%;
        width:75%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right:15px;
        font-size: 12px;
    }
    
    .Rbanner a:hover{
        color:rgb(27, 48, 27);
    }
    
    .Rbanner a menu:hover{
        color:rgb(27, 48, 27);
    }
    
    .Rbanner a{
        height: 100%;
        padding: 0 10px 0 10px;
        display: flex;
        color: white;
        align-items: center;
    }

    p{
        margin-left: 60px;
        margin-right: 60px;
        margin-top: 60px;
        margin-bottom: 100px;
        align-items: center;
        text-align: center;
        color:  rgb(93, 128, 93);
        font-size: 13px;
    }
    
    .intro{
        padding: 30px 50px 30px 50px ;
        border: 1px solid  rgb(93, 128, 93);
        border-radius: 6px;
    }
    .end{
        display: flex;
        flex-direction: column;
        background-color: rgb(93, 128, 93);
        height: 70px;
        gap: 3px;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    
    .end p{
        flex: 1;
        display: flex;
        justify-content: center;
        margin:0;
        color: white;
        font-size: 13px;
    }
}

@media (max-width: 480px) {
    .Lbanner{
        height:100%;
        width:25%;
        display: flex;
        align-items: center;
        margin-left:40px;
        font-size: 10px;
    }
    
    .Rbanner{
        height:100%;
        width:75%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right:15px;
        font-size: 10px;
    }
    
    .Rbanner a:hover{
        color:rgb(27, 48, 27);
    }
    
    .Rbanner a menu:hover{
        color:rgb(27, 48, 27);
    }
    
    .Rbanner a{
        height: 100%;
        padding: 0 10px 0 10px;
        display: flex;
        color: white;
        align-items: center;
    }
    

}





